.app {
    font-family: Arial, serif;
}

.filterButton {
    border: 1px solid black;
    color: black;
    margin-top: 10px;
}

.filterButton:hover {
    background-color: black;
    color: white;
}

.filterButton:active {
    background-color: black;
    color: white;
}

.filterButton:focus {
    background-color: black;
    color: white;
}

main {
    min-height: calc(100vh - 55px);
}

footer {
    margin-left: 0px;
    margin-top: 5px;
    width: 100%;
    height: 50px;
    background-color: #F0F0F0;
}

.nav-link {
    font-size: 1.8em;
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: #F0F0F0;
}

.settingInput {
    width: 90%;
    margin-top: 15px;
    border-color: black;
    color: black;
}

.settingsWindow {
    border: 1px solid black;
    margin-top: 15px;
}

.settingInput::-webkit-input-placeholder { /* Chrome */
    color: black;
}

.settingInput:-ms-input-placeholder { /* IE 10+ */
    color: black;
}

.settingInput::-moz-placeholder { /* Firefox 19+ */
    color: black;
    opacity: 1;
}

.settingInput:-moz-placeholder { /* Firefox 4 - 18 */
    color: black;
    opacity: 1;
}

.saveButton {
    font-size: 1.3em;
    border: 2px solid black;
    margin-top: 15px;
    color: black;
}

.authInput {
    width: 80%;
}

@media (max-width: 800px) {
    .filterButton {
        width: 80%;
    }
}

.instituteEntityButton {
    width: auto;
    margin-left: 5px;
    margin-top: 10px;
}

.authorizationForm {
    background-color: #282c34;
    color: #F0F0F0;
}

.dataBlock {
    margin-top: 10px;
    margin-bottom: 10px;
}

.dataLabel {
    font-size: 1.2em;
    text-align: center;
    width: 100%;
}

.authButton {
    border: #282c34;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    background-color: #2E74B5;
    width: 80%;
}