<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="DiariesForPracticeProduction" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DiaryPractice; User ID=JL;Password=berlindream;Connect Timeout=5;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;Integrated Security=True"/>
    <add name="DiariesForPracticeLocal" connectionString="Data Source=(local)\SQL2019;Initial Catalog=DiariesForPractice;Connect Timeout=5;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="production" value="true" />
    <add key="productionSiteName" value="juststudy.ru.com" />
    <add key="localSiteName" value="localhost:5001" />
  </appSettings>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->

</configuration>